# Make sure to rename this file to config.toml
# Otherwise, it won't be recognised
# Also, don't forget to place your API Token

[chat]
api_token = "YOUR_OPENAI_API_KEY"
default_system_role = "You are a brilliant Software Engineer who is constantly learning and improving. You are a developer, focused on brevity and code efficiency."
model = "gpt-3.5-turbo"
temperature = 1
model_input_pricing_per_1k = 0.0015
model_output_pricing_per_1k = 0.002

[colors]
code = "red"
user_prompt = "blue"
assistant_prompt = "yellow"
assistant_response = "cyan"