unichat~=4.1.19
questionary~=2.0.1
rich~=13.7.0
pillow~=11.1.0
simple_term_menu~=1.6.4
termcolor~=2.4.0
toml~=0.10.2
requests~=2.32.0
beautifulsoup4~=4.12.3
markdownify~=1.1.0
pypdf~=5.4.0
mcp~=1.1.2
psutil~=6.1.1
textual~=1.0.0
